<p class="nav_header">E-Commerce</p>
<mat-nav-list>
  <a mat-list-item [routerLink]="['/index']" routerLinkActive="active"><span class="material-icons">category</span><span class="icon_space"></span>Category </a>
  <p class="horizontal_line"></p>
  <a mat-list-item [routerLink]="['/index']" routerLinkActive="active"><span class="material-icons">closed_caption</span><span class="icon_space"></span>Sub Category </a>
  <p class="horizontal_line"></p>
  <a mat-list-item [routerLink]="['/index']" routerLinkActive="active"><span class="material-icons">production_quantity_limits</span><span class="icon_space"></span>Product </a>
  <p class="horizontal_line"></p>
</mat-nav-list>
