<mat-card>
  <mat-card-title>Category</mat-card-title>
  <mat-card-content>
    <div style="display: flex;">
      <div style="flex: 1;">
        <div class="selectdiv">
          <select id="outer_showRows" (change)="selectRows($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>

      <div class="search">
        <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchFilter">
        <a class="search-icon">
          <i class="material-icons" style="font-size: 17px;">search</i>
        </a>
      </div>

      <div class="outer_category_btn" [routerLink]="['/add-category']" routerLinkActive="active">
        <button mat-raised-button class="category_btn">Add Category</button>
      </div>

    </div>

    <table mat-table [dataSource]="character | filter: searchFilter | paginate: { itemsPerPage: itemsPerPage , currentPage: p }" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ (itemsPerPage*(p-1)+1)+i }} </td>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Categroy Name </th>
        <td mat-cell *matCellDef="let element; let i = index;" id='category_name{{i+1}}'> {{element.category_name}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element; let i = index;" id='category_code{{i+1}}'> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index;" style='min-width: 104px;'>
          <button type='button' class='btn_' btn = 'edit' style='margin-right:5px' id='edit_category{{i+1}}' (click)="editCategory(element.code, i+1)"><mat-icon mat-list-icon id='edit_{{i+1}}'>edit</mat-icon></button>
          <button type='button' class='btn_' btn = 'delete' id='delete_category{{i+1}}' (click)="deleteCategory(element.code, element.category_name, i+1)"><mat-icon mat-list-icon id='delete_{{i+1}}'>delete</mat-icon></button>
          <a mat-stroked-button color="primary" [routerLink]="['/add-sub-category']" (click)="redirectAddSubCategory(element.category_name)" style="margin-left: 5px;top: -6.5px;">Add Sub-Category</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div style="text-align: center;align-items: center;margin-top: 35px;">
      <pagination-controls (pageChange)="getCategory(p = $event)"></pagination-controls>
    </div>
  </mat-card-content>
</mat-card>
