.title {
  display: flex;
  margin-top: -5px;
}

.horizontal_line {
  width:111.3%;
  height:.5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  margin-left:-24px;
}

.content {
  margin-left:10px;
  margin-right:10px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.restore_btn {
  background:#1e7e34;
  color:#fff;
}

.close_icon {
  color: black;
  cursor: pointer;
  flex: 1;
}

.close_btn{
  margin-top: -10px;
  margin-right: -10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}
