<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav1 mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button (click)='sidenav1.toggle()' mat-icon-button><i class="material-icons">menu</i></button>
      <span class="fill_remaninig_space"></span>
      <button mat-button (click)="logout()">Log Out</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
