<mat-card>
  <mat-card-title>Product</mat-card-title>
  <mat-card-content>
    <div style="display: flex;">
      <div style="flex: 1;">
        <div class="selectdiv">
          <select id="outer_showRows" (change)="selectRows($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>

      <div class="search">
        <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchFilter">
        <a class="search-icon">
          <i class="material-icons" style="font-size: 17px;">search</i>
        </a>
      </div>

      <div class="outer_product_btn" [routerLink]="['/add-product']" routerLinkActive="active">
        <button mat-raised-button class="product_btn">Add Product</button>
      </div>

    </div>

    <table mat-table [dataSource]="character | filter:searchFilter | paginate: { itemsPerPage: itemsPerPage , currentPage: p }" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ (itemsPerPage*(p-1)+1)+i }} </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element; let i = index;" id='product_name{{i+1}}'> {{element.prod_name}} </td>
      </ng-container>

      <ng-container matColumnDef="productCategory">
        <th mat-header-cell *matHeaderCellDef> Sub-Category </th>
        <td mat-cell *matCellDef="let element; let i = index;" id='product_category{{i+1}}'> <nav class='replaceVal{{i+1}}'>{{element.category_name}}</nav> </td>
      </ng-container>

      <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element; let i = index;" id='product_price{{i+1}}'> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="productImage">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element; let i = index;" style="width:200px;height: 80px;padding-right: 10px;">
          <div id='new_product_image{{i+1}}' class='file-upload-wrapper' data-text='Select your file!'>
            <input type='file' (change)='changeImage($event)'>
          </div>
          <img id='product_image{{i+1}}' src='http://localhost/ecommerceWebsite/{{element.product_image}}' width='100' height='100' />
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index;" style='min-width: 104px;'>
          <button type='button' class='btn_' btn = 'edit' style='margin-right:5px' id='edit_product{{i+1}}' (click)="editProduct(element.id, element.category_name, element.product_image, i+1)"><mat-icon mat-list-icon id='edit_{{i+1}}'>edit</mat-icon></button>
          <button type='button' class='btn_' btn = 'delete' id='delete_product{{i+1}}' (click)="deleteProduct(element.id, i+1)"><mat-icon mat-list-icon id='delete_{{i+1}}'>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div style="text-align: center;align-items: center;margin-top: 35px;">
      <pagination-controls (pageChange)="getProduct(p = $event)"></pagination-controls>
    </div>

    <!-- <nav class="outer_pagination">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link" style="background-color: #536bf6;color: #fff;">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
        <li class="page-item"><a class="page-link">Last</a></li>
      </ul>
    </nav> -->
  </mat-card-content>
</mat-card>
