<mat-card>
  <mat-card-title>SUB-CATEGORY</mat-card-title>
  <mat-card-content>
    <div style="display: flex;">
      <div style="flex: 1;">
        <div class="selectdiv">
          <select id="outer_showRows">
            <option value="showRows5">5</option>
            <option value="showRows10">10</option>
            <option value="showRows15">15</option>
            <option value="showRows20">20</option>
          </select>
        </div>
      </div>

      <div class="search">
        <input type="text" class="search-input" placeholder="Search...">
        <a class="search-icon">
          <i class="material-icons" style="font-size: 17px;">search</i>
        </a>
      </div>

      <div class="outer_category_btn" [routerLink]="['/addItems']" routerLinkActive="active">
        <button mat-raised-button class="category_btn">Add Sub-Category</button>
      </div>

    </div>

    <div class="outer_table">
      <button mat-raised-button (click)="addColumn()"> Add column </button>
      <button mat-raised-button (click)="removeColumn()"> Remove column </button>
      <button mat-raised-button (click)="shuffle()"> Shuffle </button>

      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>

    <nav class="outer_pagination">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">First</a></li>
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
        <li class="page-item"><a class="page-link">Last</a></li>
      </ul>
    </nav>
  </mat-card-content>
</mat-card>
